<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab3</title>
   
</head>
<body>
    
    <form method="POST" action="/z1" class="form" >
        <label for="input">type here ur string</label>
        <input class="input" type="text" id="reqstring" >
    <br>
        <input class="button" type="button" value="дабавить">
        <input class="submit" type="submit" value="отправить">
    <br>
        <textarea id="text" name="reqstring" readonly rows="12" cols="36"></textarea>
    </form>
    <script>
        let form = document.querySelector('.form')
        let reqstring = form.querySelector('#reqstring')
        let buttonAdd = form.querySelector('.button')
        let buttonSubmit = form.querySelector('.submit')
        let text = document.querySelector('#text')

        buttonAdd.addEventListener('click', () => {
            if (reqstring.value.length > 0) {
                text.value += reqstring.value + '\n';
                reqstring.value = '';
            }
        })
    </script>
</body>
</html>